* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    margin: 0;
}
  
header {
    background: #323335;
}

header h1 {
    color: #323335;
    font-size: 50px;
    background-color: #75d6b9;
    height: 60px;
    padding-right: 10px;
    padding-left: 50px;
}

header img {
    height: 200px;
    width: 200px;
    border: 5px solid #75d6b9;
    margin: 20px;
}

.name-img {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(55, 59, 59);
}
  
nav a {
    color: #75d6b9;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-bottom: 5px solid #75d6b9;
    margin: 5px;
}

nav a:hover {
    color: rgb(0, 183, 255);
    border-bottom: 5px solid rgb(0, 183, 255);
}
  
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
  
aside {
    flex: 1;
    background-color: #fefaff;
    padding-right: 10px;
    text-align: right;
    border-right: 5px solid #75d6b9;
}

aside h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    font-size: 30px;
}
  
.about-me {
    flex: 4;
    background-color: #fefaff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-examples {
    flex: 4;
    color: #fefaff;
    background-color: #fefaff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-color: #75d6b9;
    flex: 0 0 400px;
    overflow: hidden;
    margin: 5px;
    max-height: 200px;
}
  
.card header {
    padding: 20px;

}
  
.card p {
    text-align: center;
}
  
.card img {
    width: 100%;
    opacity: 50%;
}

.card img:hover {opacity: 100%;}

#large-card {
    flex: 0 0 810px;
    max-height: 400px;
}

.contact {
    flex: 4;
    background-color: #fefaff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact a {
    text-decoration: none;
    font-size: 24px;
}

.contact a:link {color:rgb(55, 59, 59);}

.contact a:visited {color: rgb(55, 59, 59);}

.contact a:hover {color: #75d6b9;}

.contact a:active {color: red;}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}
  